* {
  font-family: 微軟正黑體;
  font-size: 14pt;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-image: url("http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

.transbox {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.row1, .row2, .row3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center
  overflow: hidden;
}

.row1 {
  margin-top: 50px;
}

.row2 {
  margin-top: 25px;
}

.row3 {
  margin-top: 25px;
  margin-bottom: 50px;
}

.viewbox {
  width: 300px;
  display: inline-block;
  border: solid 15px transparent;
  overflow: hidden;
}

.top {
  width: 100%;
  height: 180px;
  background-image: url("https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg");
  border-radius: 5px 5px 0px 0px;
}

.bottom {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 5px 5px;
}

.headpic {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  left: 10px;
  bottom: -20px;
  display: inline-block;
  background-image: url("https://static-cdn.jtvnw.net/jtv-static/404_preview-300x300.png");
  background-size: cover;
}

.channel, .name {
  padding: 2px;
  left: 85px;
  bottom: 45px;
  box-sizing: border-box;
  color: white;
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 8em;
  text-overflow: ellipsis;
}
